:root {
    --primary-font-family: 'Poppins', sans-serif;
    --primary-dark-color: #1a1d23;
    --primary-light-color: #f7f7f7;
    --primary-grey-background: #e9e8e8;
    --primary-secondary-color: #6c5b19;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font-family);
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    line-height: 1.9rem;
    height: 100vh;
    max-width: 1800px;
    margin: 0 auto;
}

header, footer {
    grid-column: 1 / 4;
    background-color: var(--primary-dark-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.heading {
    padding: 1rem;
}

main {
    grid-column: 1 / 4;
    text-align: center;
}

#lastModified {
    font-size: 0.85rem;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

li span {
    font-weight: 600;
}

/* mobile design */
@media screen and (max-width: 700px) {
    .content {
        display: grid;
        grid-template: repeat(2, 1fr)/ repeat(1, 1fr);
        gap: 1rem;
    }

    section h2 {
        color: var(--primary-secondary-color);
        padding: 1rem 0;
    }

    .data {
        border-bottom: 1px solid var(--primary-grey-background);
        padding-bottom: 1.5rem;
    }

    .icon {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
}