/* larger view design */
@media screen and (min-width: 599px) and (max-width: 840px) {
    #menu {
        display: none;
    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }

    .figure-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 841px) {
    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }

    .figure-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
        align-items: center;
        justify-content: center;
    }
}